.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  width: 80%;
  max-width: 800px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideIn 0.3s ease-in-out;
  padding-bottom: 20px;
}

.close-button {
  display: flex !important;
  justify-content: end;
  background: transparent;
  border: none;
  font-size: 3rem !important;
  color: black;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  width: 100% !important;
  padding-right: 2%;

  &:hover {
    color: #e50914; // Highlight the button in red when hovered
  }

  &:focus {
    outline: none; // Removes the focus outline for better aesthetics
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .close-button {
    font-size: 1.2rem;
  }
}
